<div class="container-fluid pt-3 card" style="border: none;">
    <div class="row d-flex justify-content-between mb-2 px-3">
        <div class="col-md-4">
            <h5>Profile Information</h5>
        </div>
    </div>
    <div class="row d-flex justify-content-center card-body">
        <div class="col-md-6">
            <div class="card p-4" style="border: none; background-color: whitesmoke;">
                <h6 class="card-title px-2">Admin Info</h6>
                <div class="card-body">
                    <form action="">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="John Doe">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="details">Email</label>
                                    <input type="email" class="form-control" id="details" placeholder="admin@example.com">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3"><button class="btn btn-primary">Update</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card p-4" style="border: none; background-color: whitesmoke;">
                <h6 class="card-title px-2">Change Password</h6>
                <div class="card-body">
                    <form action="">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="currentPassword">Current Password</label>
                                    <input type="password" class="form-control" id="currentPassword" placeholder="Enter Current Password">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="newPassword">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword" placeholder="Re-Enter Password">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12"><button class="btn btn-primary">Update</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

