<div class="container-fluid pt-3 card" style="border: none;">
    <div class="row d-flex justify-content-between mb-2 px-3">
        <div class="col-md-2">
            <h4>News</h4>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
            <a class="btn btn-primary btn-sm" style="margin-right: 15px;" (click)="goNews()">View All News</a>
        </div>

    </div>
    <div class="card-body">
        <form action="">
            <div class="p-3">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <h6>Add News</h6>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name" class="mb-1 text-muted" style="font-weight: 500;">Title</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="slug" class="mb-1 text-muted" style="font-weight: 500;">Slug</label>
                            <input type="text" class="form-control" id="slug" placeholder="Example Slug">
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Description" class="label-style text-muted mb-1" style="font-weight: 500;">Description</label>
                            <quill-editor id="Description" style="display: block;"
                                [styles]="{ 'width': '100%', 'height': '150px' }"></quill-editor>
                        </div>
                    </div>
                </div>
                
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            
                            <label for="formFile" class="form-label mb-1 text-muted" style="font-weight: 500;">Image</label>
                            <input class="form-control" type="file" id="image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="status" class="mb-1 text-muted" style="font-weight: 500;">Status</label>
                            <select class="form-control" id="status">
                                <option selected>active</option>
                                <option>inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

