<mat-toolbar color="grey">
  <a class="navbar-brand mx-3" routerLink="dashboard"><img class="img-fluid" width="140" src="assets/NEW CANCARD Logo .png" alt=""></a>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon perm_identity" aria-label="Example icon-button with heart icon">
    <mat-icon>perm_identity</mat-icon>
  </button> -->
  <button mat-fab extended color="none" style="box-shadow: none;" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>perm_identity</mat-icon>
    Admin
  </button>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>perm_identity</mat-icon>
  </button> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goProfile()">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item (click)="goProfile()">
      <mat-icon>password</mat-icon>
      <span>Change Passoword</span>
    </button>
    <button mat-menu-item style="color: red;" (click)="logout()">
      <mat-icon color="warn">logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize [hasBackdrop]="false">
  <mat-sidenav #drawer class="example-sidenav" mode="side" style="width: 230px ;">
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard">Dashboard</a>
      <a mat-list-item routerLink="vendor">Vendor</a>
      <mat-expansion-panel style="box-shadow: none;" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="padding-left: 16px; padding-right: 25px;">
          <mat-panel-title>
            Products
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="products/lists">Products</a>
        <a mat-list-item routerLink="products/category">Category</a>
        <a mat-list-item routerLink="products/applications">Applications</a>
        <a mat-list-item routerLink="products/pricing-import">Pricing Import</a>
      </mat-expansion-panel>
      <mat-expansion-panel style="box-shadow: none;" mat-list-item (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header style="padding-left: 16px; padding-right: 25px;">
          <mat-panel-title>
            Customer
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item routerLink="customer/lists">Customers</a>
        <a mat-list-item routerLink="customer/customer-types">Types</a>
        <a mat-list-item routerLink="customer/customer-import">Import</a>
        <a mat-list-item routerLink="customer/customer-price-import">Price Import</a>
      </mat-expansion-panel>
      <a mat-list-item routerLink="orders">Orders</a>
      <a mat-list-item routerLink="quotes">Quotes</a>
      <a mat-list-item routerLink="news">News</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 91vh;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mt-1">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

  <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->

</mat-sidenav-container>