<div class="container-fluid pt-3 card" style="border: none;">
    <div class="row d-flex justify-content-between  px-3">
        <div class="col-md-4">
            <h5>Customer Pricing Import</h5>
        </div>
    </div>
    <div class="row d-flex justify-content-center card-body">
        <div class="col-md-12">
            <div class="card" style="border: none; background-color: white;">
                <div class="card-body">
                    <form #customerprice="ngForm" (ngSubmit)="customerPriceImport()">
                        <div class="row mb-3">
                            <h6 class="card-title" style="margin-bottom: 15px;">Import</h6>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="status" class="mb-1 text-muted" style="font-weight: 500;">Customer</label>
                                    <select class="form-control" id="status" name="customerStatus" [(ngModel)]="customerpriceimport.customerstatus">
                                        <option>active</option>
                                        <option>inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                                <div class="form-group">
                                    <label for="uploadFile" class="mb-1 text-muted" style="font-weight: 500;">Upload File</label>
                                    <input class="form-control" type="file" id="uploadFile" name="uploadFile" [(ngModel)]="customerpriceimport.customerpricefile">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12"><button class="btn btn-primary">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
