<!-- <div>
    <h2>Quote Details</h2>
    <p>ID: {{ id }}</p>
    <p>Name: {{ name }}</p>
    <p>Date: {{ date }}</p>
    <p>Progress: {{ progress }}</p>
    <p>Item: {{ item }}</p>
</div> -->
<div class="container-fluid pt-3 card mt-3" style="border: none;">
    <div class="row d-flex justify-content-between mb-2 px-4">
        <div class="col-md-4 d-flex align-items-center">
            <h6>Quote Details</h6>
        </div>
    </div>
    <div class="row d-flex justify-content-between mb-2 px-4 mt-2">
        <div class=" col-md-6 col-sm-12">
            <div class="d-flex align-items-start mb-3">
                <span style="font-weight: bold;">ID:&nbsp;</span><span>{{details.id}}</span>
            </div>
            <div class=" d-flex align-items-start mb-3">
                <span style="font-weight: bold;">Name:&nbsp;</span><span>{{details.name}}</span>
            </div>
            <div class=" d-flex align-items-start mb-3">
                <span style="font-weight: bold;">Email:&nbsp;</span><span>{{details.email}}</span>
            </div>
            <div class=" d-flex align-items-start mb-3">
                <span style="font-weight: bold;">Date:&nbsp;</span><span>{{details.date}}</span>
            </div>
            <div class=" d-flex align-items-start mb-3">
                <span style="font-weight: bold;">Message:&nbsp;</span><span>{{details.message}}</span>
            </div>
            
        </div>
    </div>
    <div class="row d-flex align-items-start px-4 mb-2">
        <!-- <span style="font-weight: bold;">Date:&nbsp;</span><span>{{details.date}}</span> -->
        <div class="col-md-5">
            <span style="font-weight: bold;">Products&nbsp;</span>
        </div>
        <div class="col-md-4">
            <span style="font-weight: bold;">Product Name&nbsp;</span>
        </div>
        <div class="col-md-3">
            <span style="font-weight: bold;">Quantity&nbsp;</span>
        </div>
        
    </div>
    <hr>
    <div class="row d-flex align-items-start px-4 mb-3">
        <!-- <span style="font-weight: bold;">Date:&nbsp;</span><span>{{details.date}}</span> -->
        <div class="col-md-5">
            <img src="assets/image_54-removebg-preview.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
            <a>M10HE Manual Embosser&nbsp;</a>
        </div>
        <div class="col-md-3">
            <span>1</span>
        </div>
        
    </div>
</div>