<div class="container-fluid pt-3 card" style="border: none;">
    <div class="row d-flex justify-content-between mb-2 px-3">
        <div class="col-md-2">
            <h4>Pricing Import</h4>
        </div>
    </div>
    <div class="row d-flex justify-content-center card-body">
        <div class="col-md-12">
            <div class="card" style="border: none; background-color: white;">
                <div class="card-body">
                    <form action="">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <h6 class="card-title mb-2">Import</h6>
                                <div class="form-group">
                                    <label for="uploadFile" class="form-label">Upload File</label>
                                    <input class="form-control" type="file" id="uploadFile">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-12"><button class="btn btn-primary">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
